{% assign faq_key = include.faq_key | default: "example" %}
{% assign faq = site.data.faq[faq_key] %}
{% assign highlighted_items = faq.items | where: "highlighted", true %}

<section class="faq-highlighted faq-highlighted-{{ faq_key }} section">

  <div class="faq-header">
    <div class="section-label">Frequently asked</div>
      <h2 class="section-title">Questions about
        {% if faq_key == "about-us" %}
          the Alumni Community
        {% else %}
          {{ faq.title }}
        {% endif %}
      </h2>
    </div>


    <div class="faq-body">
      {% include faq-list.html data=highlighted_items %}
    </div>
  </div>

  <p class="faq-more">
      Have more questions? Visit our
      <a href="/faq/" class="page-content-link">full FAQ page</a>
      for information about the Alumni Community, events, and resources.
  </p>

</section>
