<footer class="site-footer">
  <div class="footer">
    <div class="inner footer-container">

      <div class="footer-top-grid">
        <div>
          <h6>Still have questions?</h6>
          <p>Visit our
            <a href="/faq/">FAQ</a> or
            <a href="https://registrationforms.fillout.com/t/s7iyKAEST4us" target="_blank"> contact Alumni Team</a>
          </p>
        </div>
        <div class="footer-top-right text-end">
          <a href="/guidelines/">Community Guidelines</a>
          <br>
          <a href="/privacy/">Privacy & Data Notice</a>
        </div>
      </div>

      <div class="col-12 footer-buttom">
        <p>&copy; 2026 EFW Alumni Community · A volunteer-led community for
          <a href="{{ site.efw_link }}" target="_blank">
              English for Work
          </a> alumni
        </p>
      </div>
    </div>
  </div>
</footer>
