<header class="header" role="banner">
  <div class="header-inner">

    <!-- LOGO + TITLE -->
    <div class="alumni-efw">
    <a class="logo" rel="author" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/images/logo.jpg" | relative_url }}"
           alt="EFW Alumni Community Logo"
           class="site-logo"
        >
      <div class="site-title">
        {{ site.title }}
      </div>
    </a>
    </div>

    <!-- Navigation -->
    <nav class="site-nav" id="siteNav">
        <ul class="nav-menu">
            {% assign sorted_pages = site.pages | where: "nav", true | sort: "order" %}

            {% for page_menu in sorted_pages %}
              {% if page_menu.title %}
                <li><a class="page-link {% if page_menu.url == page.url %}active{% endif %}"
                        href="{{ page_menu.url | relative_url }}">
                    {{ page_menu.title }}
                </a></li>
              {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <!-- Mobile Menu Button -->
    <div class="menu-toggle" id="menuToggle">
        ☰
    </div>
  </div>
</header>
