/* Footer  */
/* social button style */
.social-btn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $body-font-color;
  font-size: 22px;
  transition: 0.2s ease;
}
.social-btn:hover {
  background-color: $light-green-color;
  color: $brand-green-dark;
}
.footer-contact {
  text-align: center;
}
.site-footer {
  border-top: 2px solid $brand-green-color;
  padding: 20px 40px;
  color: $body-font-color;
}
.footer-container {
  @media (max-width: 768px) {
    padding: 0px;
  }
  .text-light{
    color:  $body-font-color !important;
    font-size: .875em;
    font-weight: 400;
  }
  .links{
    text-align: left;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-top: 12px;
  }
}
.footer h6 {
  font-size: clamp(14px,0.7vw, 16px);
  font-weight: 600;
}
.footer a {
  text-decoration: none;
  color: $body-font-color;
}
.footer a:hover {
  text-decoration: underline;
}
.footer a.social-btn:hover {
  text-decoration: none;
}
