/* Theme Colors */
$brand-green-color: #99CB3C;
$brand-green-dark: #7aab24;
$body-font-color: #212b36;
$light-green-color: #f0f6df;
$gray-color: #6b7177;
$dark-font-color: #1a1918;
$dark-hover-color: #2e2d2b;
$cream-background-color: #f6f6f1;
$border-line-color: #e0dfd8;
$white-color: #ffffff;
