/* variables */
:root{
    --green-color : #a5c855;
    --blue-color: #4974B5;
    --light-blue-color:#B6E2EE;
    --grey-color : #CCCCCC;
    --body-font-color: #333;
    --black-color:#000000;
}

/* General */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: var(--body-font-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

button{
    background: none;
    border: none;
}

button:hover{
    cursor: pointer;
}

button:focus{
    outline: none;
}

/* Section css */
section{
    padding: 48px;
    position: relative;
}

/* header */
.header{
  width: 100%;
  background-color: white;
  /*border-bottom: 15px solid rgb(36, 122, 191);*/
  /* R#C54B34, Y#E5B945, G#a5c855, RB#B6E2EE, B#4974B5 P#7A579E */
  border-bottom: 15px solid rgb(165, 200, 85);
  margin-bottom: 35px;
}

.header_inner {
    max-width: 1200px;
    height: 85px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.site_header {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Logo + Title */
.site_logo img{
  height: 60px;
  width: auto;
  display: block;
}

.site_title{
  white-space: nowrap;
  font-size: 20px;
  font-width: 600;
}

/* Navigation */
.nav_menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav_menu li a {
  padding: 6px;
  color: #333;
  font-weight: 500;
}

.nav_menu li a:hover {
  background-color: rgb(214, 237, 243);
  border-radius: 4px;
  padding:6px;
  color: rgb(36, 122, 191);
}

/* Body content */
.body-container {
  padding: 20px 40px 20px 40px;
  flex:1;

}

.body-container .qrcode {
  max-width: 250px;
  height: auto;
  display: inline-block;
  margin: 10px auto;
}
.body-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.body-container p {
  font-size: 1.1rem;
  color: #666;
}

/* footer-css */
#footer-placeholder{
  border-top: 2px solid var(--green-color);
}

#footer, .footer{
  padding:20px;
}

.footer .text-light{
  color: #333 !important;
  font-size: .875em;
  font-weight: 400;
}

.footer a{
  text-decoration: none;
  text-align: left;
  color: var(--body-font-color);
}

.footer a:hover{
    text-decoration: underline;
}

.copyright{
    color: var(--body-font-color);
    font-size: 15px;
}

.quickLinks{
  text-align: left;
}



/* Responsive for mobile*/
/* Mobile Toggle */
.menu_toggle {
    display: none;

    font-size: 24px;
    cursor: pointer;
}

.mobile_menu {
    display: none;
    flex-direction: column;
    background-color: white;
    border-top: 1px solid #ddd;
}

.mobile_menu a {
    padding: 15px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eee;
}

.mobile_menu a:hover {
  background-color: rgb(214, 237, 243);
  border-radius: 4px;
  color: rgb(36, 122, 191);
}

.mobile_menu.active {
    display: flex;
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 1.5rem;
  }
  .container p {
    font-size: 1rem;
  }

  .site_nav {
      display: none;
  }

  .menu_toggle {
      display: block;
  }
}
