---
layout: page
title: FAQ
permalink: /faq/
nav: false
---

<article class="faq-page">
  <section class="faq-intro section-sm">
    <div class="faq-header">
      <h1 class="section-title">Frequently Asked Questions</h1>
    </div>

    <div class="faq-intro-desc">
      <p>Have a question? You're in the right place. We've gathered answers to the most common questions about our Alumni community, events, resources, and ways to get involved.</p>
      <p><strong> Can't find an answer?</strong> </p>
        <p>Please use our <a href="https://registrationforms.fillout.com/t/s7iyKAEST4us" target="_blank">Contact Alumni Team form</a> to send your question, feedback, or concern. This helps us make sure your message reaches the right person on the Leadership Team.</p>
    </div>
  </section>

  <section class="full-faq-section section-sm">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <div class="accordion" id="fullFAQAccordion">

      {% for section in site.data.faq.full-faq.sections %}

        {% assign faq = site.data.faq[section.key] %}
        {% assign collapseId = "collapse-" | append: section.key %}

        <div class="accordion-item">

          <h2 class="accordion-header">
            <button
              class="accordion-button {% unless forloop.first %}collapsed{% endunless %}"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#{{ collapseId }}"
              aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
              aria-controls="{{ collapseId }}"
            >
              {{ faq.title }}
            </button>
          </h2>

          <div
            id="{{ collapseId }}"
            class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
            data-bs-parent="#fullFAQAccordion"
          >
            <div class="accordion-body">
              {% include faq-list.html data=faq.items %}
            </div>
          </div>

        </div>

      {% endfor %}

    </div>
  </section>
</article>
