---
layout: page
title: Privacy & Data Notice
permalink: /privacy/
nav: false
---
<div class="policy-page container py-4">
  <section class="policy-page-intro section-sm">
    <div class="inner">
      <h1>{{ site.data.privacy.title }}</h1>
      <p class="updated-date"><strong>Last updated:</strong> {{ site.data.privacy.updated }}</p>
      {{ site.data.privacy.intro | markdownify }}
    </div>
  </section>


  {% for section in site.data.privacy.sections %}
  <section class="section-policy">
    <div class="inner">
      <h2 class="section-title">{{ section.id }}. {{ section.title }}</h2>

      {% for paragraph in section.content %}
        <p>{{ paragraph }}</p>
      {% endfor %}

      {% if section.bullets %}
        <ul>
          {% for item in section.bullets %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% for paragraph in section.content2 %}
        <p class="pt-2">{{ paragraph }}</p>
      {% endfor %}

      {% if section.bullets2 %}
        <ul>
          {% for item in section.bullets2 %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% for paragraph in section.content3 %}
        <p class="pt-2">{{ paragraph }}</p>
      {% endfor %}
    </div>
  </section>
  {% endfor %}
</div>
